<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                @if (Session["ss_User"] != null)
                {
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                }
                <a class="navbar-brand" href="/Home/Index">旋梯</a>
            </div>

            @if (Session["ss_User"] != null)
            {
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                                @{
                                    Output.Write(Session["email"].ToString());
                                }<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Main/Index">控制面板</a></li>
                                <li><a href="/Main/Recharge">兑换流量</a></li>
                                <li><a href="/Home/Index">退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                                    }
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <div class="container-fluid">
        <br>
        <div class="row">
            <p class="text-center">© <a href="http://weibo.com/900925666" target="_blank">vincent</a> 2015 - 2016</p>
        </div>
    </div>

</body>
</html>
